{{> navegacion }}
<main>
      <div class="container">
         <div class="row" id="cabecera">
            <div class="col-md-12">
               <h3>Bienvenido a la Web de Kaypi para Administradores</h3> 
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="ui card" id="card">
                  <a class="image" href="/listaLineas">
                    <img src="/img/logo-add-line.jpg">
                  </a>
                  <div class="content">
                    <a class="header" href="/listaLineas" id="card-title">LINEAS DE TRANSPORTE</a>
                    <div class="meta">
                      Gestión de Puntos Estratégicos
                    </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="ui card" id="card">
                  <a class="image" href="/listaPuntosEstrategicos">
                    <img src="/img/logo-puntosEstrategicos.jpg">
                  </a>
                  <div class="content">
                    <a class="header" href="/listaPuntosEstrategicos" id="card-title">PUNTOS ESTRATÉGICOS</a>
                    <div class="meta">
                     Gestión de Lineas de Transporte
                   </div>
                  </div>
               </div>
            </div>
         </div>   
      </div>
</main>
<link rel="stylesheet" href="/css/indexStyle.css">