/* Estilos para editarNotificaciones.hbs */

#spaceBackAdd {
    margin-top: 80px;
}

#back {
    color: #003d94;
}

#back:hover {
    color: #000d21;
    transition: 3s;
}

#backHome {
    color: #003d94;
    margin-left: 20px;
}

#backHome:hover {
    color: #000d21;
    transition: 3s;
}

.card {
    padding: 20px;
}

.container {
    font-family: 'Comfortaa', cursive;
}

form.ui.form {
    width: 80%;
    margin: 0 auto; /* Centrar horizontalmente */
}

#btnSubmit {
    width: 100%;
    background-color: #003d94;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
}

#btnSubmit:hover {
    background-color: #000d21;
    transition: 1s;
    color: #ffffff;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: #000d21;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

input[type="text"],
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.ui.form .field > label {
    color: #000d21;
}

.ui.error.message {
    display: none;
}
