/* Estilos para la tabla de notificaciones */
#table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  #table th, #table td {
    padding: 8px;
    text-align: center;
  }
  
  #table th {
    background-color: #000d21; /* Azul */
    color: white;
  }
  
  #table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #table tr:hover {
    background-color: #ddd;
  }
  
  #addNotification {
    color: #003d94; /* Verde */
  }
  
  #addNotification:hover {
    color: #003d94; /* Verde más oscuro */
  }
  
  #back {
    color: #000d21; /* Rojo */
  }
  
  #back:hover {
    color: #000d21; /* Rojo más oscuro */
  }
  
  