<br>
<footer>
      <div class="container">
         <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
               <a href="/inicio" target="_blank">
                  <img src="/img/logo-white.png" alt="Logo Kaypi" height="100"> 
               </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
               <a href="https://www.cochabamba.bo/" target="_blank">
                  <img src="/img/firma-GAMC.png" alt="Gobierno Autónomo Municipal de Cochabamba" height="95" > 
               </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
               <a href="http://www.univalle.edu/cochabamba/" target="_blank">
                  <img src="/img/logo-univalle.png" alt="Universidad del Valle" height="60" > 
               </a>
            </div>
         </div>
         <div class="row" id="copy">
            <div class="col-md-12 copy">
               <b>&copy2021 Kaypi | Todos los derechos reservados</b>
            </div>
      </div>
      </div>
</footer> 