{{> navegacion }}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/inicio" id="back">
                    <i class="big arrow circle left icon"></i>
                </a>
            </div>
        </div>
        <div class="row" id="spaceBackAdd">
            <div class="col-md-12 text-end">
                <a href="/listaPuntosEstrategicos/agregarPuntoEstrategico" id="addPoint">
                    <i class="big plus circle icon"></i>
                    <label>Añadir</label>
                </a>
            </div>
        </div>
        <div class="row" id="listaPuntosEstrategicosDatos"></div>
    </div>
</main>
<link rel="stylesheet" href="/css/listaPuntosEstrategicos.css">
<script src="/js/listaPuntosEstrategicos.js"></script>
