{{> navegacion }}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <a href="/listaNotificaciones" id="back">
                    <i class="big arrow circle left icon"></i>
                </a>
                <a href="/inicio" id="backHome">
                    <i class="big home icon"></i>
                </a>
            </div>
        </div>
        <br>
        <form class="ui form" action="/listaNotificaciones/agregarNotificacion/guardarNotificacion" method="post" id="formPrincipal">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <h2>Características</h2>
                        <div class="field">
                            <label>Nombre de la línea</label>
                            <input type="text" id="nombreLinea" name="nombreLinea" placeholder="Nombre de la Línea">
                        </div>
                        <div class="field">
                            <label>Descripción de la notificación</label>
                            <textarea name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
                        </div>
                        <div class="field">
                            <label>Fecha de envío de la notificación</label>
                            <input type="date" name="fechaInicio" id="fechaInicio">
                        </div>
                        <div class="field">
                            <label>Fecha de caducidad</label>
                            <input type="date" name="fechaFin" id="fechaFin">
                        </div>
                        <input class="ui button btnSubmit" id="btnSubmit" type="submit" value="Registrar">
                        <div class="ui error message"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="/js/agregarNotificacion.js"></script>
<link rel="stylesheet" href="/css/agregarNotificacionStyle.css">
